* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 96vw;
    height: 90vh;
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(233, 47%, 7%);
}

main {
    background-color:  hsl(244, 38%, 16%);
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.279);
    box-sizing: border-box;
    margin: auto;
    width: 90vw;
}

section#imagem {
    background-image: url(../images/image-header-mobile.jpg);
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 426px;
    height: 270px;
}

section#imagem div#color {
    background-color: hsla(277, 64%, 61%, 0.381);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 426px;
    height: 270px;
}

section#conteudo {
    padding: 20px;
}

section#conteudo div#text h1 {
    text-align: center;
    font-size: 1.9em;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

section#conteudo div#text h1 strong {
    color: hsl(277, 64%, 61%);
}

section#conteudo div#text p {
    text-align: center;
    line-height: 25px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.39);
}

section#conteudo div#nums p.num {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 20px;
}

section#conteudo div#nums p.tex {
    letter-spacing: .8px;
    font-size: .8em;
    text-align: center;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.525);
}
