* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}

:root,
body.theme1 {
    --background:  hsl(222, 26%, 31%);
    --text: hsl(0, 0%, 100%);
    --calcBack: hsl(224, 36%, 15%);
    --bttBack: hsl(30, 25%, 89%);
    --shadowBtt: hsl(28, 16%, 65%);
    --bttColor: hsl(221, 14%, 31%);
    --bttHover: hsl(0, 0%, 100%);
    --bttDifHover: hsl(6, 63%, 50%);
    --bttEqual: hsl(6, 70%, 34%);
    --bttEqualShadow: hsl(6, 91%, 27%);
    --bttResetDel: hsl(224, 28%, 35%);
    --bttResetDelShadow: hsl(223, 44%, 28%);
    --bttResetDelHover: hsl(225, 21%, 49%);
    --footer: hsl(223, 60%, 57%);
    --white: white;

    --left: 7px;
}

body.theme2 {
    --background:  hsl(0, 0%, 90%);
    --text: hsl(60, 10%, 19%);
    --calcBack: hsl(0, 5%, 81%);
    --bttBack: hsl(45, 7%, 89%);
    --shadowBtt: hsl(35, 11%, 61%);
    --bttColor: hsl(60, 10%, 19%);
    --bttHover: hsl(0, 0%, 100%);
    --bttDifHover:  hsl(25, 85%, 51%);
    --bttEqual:  hsl(25, 98%, 40%);
    --bttEqualShadow: hsl(25, 99%, 27%);
    --bttResetDel: hsl(185, 58%, 25%);
    --bttResetDelShadow: hsla(185, 58%, 25%, 0.655);
    --bttResetDelHover: hsl(185, 42%, 37%);
    --footer: hsl(223, 97%, 37%);
    --white: white;

    --left: 28px;
}

body.theme3 {
    --background:  hsl(268, 75%, 9%);
    --text: hsl(52, 100%, 62%);
    --calcBack: hsl(268, 71%, 12%);
    --bttBack: hsla(281, 30%, 52%, 0.128);
    --shadowBtt: hsl(290, 70%, 36%);
    --bttColor: hsl(52, 100%, 62%);
    --bttHover: hsl(285, 91%, 52%);
    --bttDifHover: hsl(177, 92%, 70%);
    --bttEqual: hsl(176, 100%, 44%);
    --bttEqualShadow: hsla(176, 100%, 44%, 0.502);
    --bttResetDel: hsl(281, 89%, 26%);
    --bttResetDelShadow:  hsl(285, 91%, 52%);
    --bttResetDelHover: hsla(285, 92%, 59%, 0.724);
    --footer: hsl(281, 66%, 60%);
    --white: white;

    --left: 50px;
}

body {
    background:  var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    color:var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

h1 {
    margin: 60px 55px 0px -150px;
    font-size: 22px;
}

.theme {
    margin: 50px 0px 50px 170px;
    display: flex;
    align-items: end;
}

h2 {
    font-size: 11px;
    margin: 0px -18px -22px 0px;
}

.toggle {
    position: absolute;
    background: var(--calcBack);
    width: 70px;
    height: 22px;
    border-radius: 12px;
    margin: 0px 0px -28px 40px;
    display: flex;
    align-items: center;
}

.toggle .circulo {
    background: var(--bttDifHover);
    box-shadow: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: var(--left);
    cursor: pointer;
}

.circulo:hover {
    transform: none ;
}

.num-lista {
    columns: 3;
    gap: 20px;
    width: 10px;
    font-size: 13px;
    margin: 0px 0px 10px 11px;
}

.result {
    background: var(--calcBack);
    color: var(--text);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.315);
    width: 420px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 9px;
    text-align: end;
}

p {
    margin: 20px;
    font-size: xx-large;
    font-weight: 700;
}

.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nums {
    background: var(--calcBack);
    width: 420px;
    height: 450px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.315);
}

button {
    background: var(--bttBack);
    color:  var(--bttColor);
    border-radius: 10px;
    box-shadow: 0px 5px 0px var(--shadowBtt);
    font-weight: 900;
    font-size: x-large;
    border: none;
    width: 78px;
    height: 45px;
    margin: 4px;
}

button:hover {
    cursor: pointer;
    background:  var(--bttHover);
    transform: translate(1px, 1px);
    transition: transform .2s;
}

.botoes-linha1, 
.botoes-linha2, 
.botoes-linha3, 
.botoes-linha4, 
.botoes-linha5 {
    width: 400px;
    padding-left: 30px;
    padding-top: 29px;
}

.btt-diferente {
    background: var(--bttResetDel);
    color: var(--white);
    box-shadow: 0px 5px 0px var(--bttResetDelShadow);
    font-size: larger;
}

#btt-diferente-t {
    width: 150px;
    margin: 0px 15px 0px 19px;
}

#btt-diferente {
    background: var(--bttEqual);
    color: var(--white);
    box-shadow: 0px 5px 0px var(--bttEqualShadow);
    width: 150px;
}

.btt-diferente:hover {
    background:  var(--bttResetDelHover);
}

#btt-diferente:hover {
    background: var(--bttDifHover);
}

footer {
    background: var(--calcBack);
    color: var(--text);
    width: 230px;
    padding: 6px;
    font-size: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer a {
    text-decoration: none;
    color: var(--footer);
}

@media(min-width: 1241px) {
    footer{
        margin-top: 302px;
    }
}