* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 90vw;
    height: 90vh;
}

main {
    position: absolute;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.299);
    border-radius: 8px;
    width: 60vw;
    height: 90vh;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

main div#bloco1 {
    background-color: hsl(31, 77%, 52%);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 40px;
}

main div#bloco1 img {
    width: 60px;
    margin-bottom: 20px;
}

main div#bloco1 h1 {
    margin-bottom: 15px;
}

main div#bloco1 p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 23px;
}

main div#bloco1 button {
    margin-top: 20px;
    border: none;
    color: hsl(31, 77%, 52%);
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

main div#bloco1 button:hover {
    background-color: hsl(31, 77%, 52%);
    border: 1.5px solid white;
    color: white;
}

main div#bloco2 {
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}

main div#bloco2 img {
    width: 60px;
    margin-bottom: 20px;
}

main div#bloco2 h1 {
    margin-bottom: 15px;
}

main div#bloco2 p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 23px;
}

main div#bloco2 button {
    margin-top: 20px;
    border: none;
    color: hsl(184, 100%, 22%);
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

main div#bloco2 button:hover {
    background-color: hsl(184, 100%, 22%);
    border: 1.5px solid white;
    color: white;
}

main div#bloco3 {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 40px;
}

main div#bloco3 img {
    width: 60px;
    margin-bottom: 20px;
}

main div#bloco3 h1 {
    margin-bottom: 15px;
}

main div#bloco3 p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 23px;
}

main div#bloco3 button {
    margin-top: 20px;
    border: none;
    color: hsl(179, 100%, 13%);
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

main div#bloco3 button:hover {
    background-color: hsl(179, 100%, 13%);
    border: 1.5px solid white;
    color: white;
}