@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

body {
    font-weight: 500;
    height: 100vh;
}

.container {
    background: url(./images/bg-main-desktop.png) no-repeat;
    height: 730px;
    display: flex;
    overflow: hidden;
}

.cards {
    width: 800px;
    margin-left: 100px;
}

.card-front {
    background: url(./images/bg-card-front.png) no-repeat;
    height: 300px;
    margin-top: 120px;
    color: white;
}

.card-front > img {
    margin: 30px 0px 0px 30px;
}

.card-front .card-number {
    letter-spacing: 4.5px;
    margin: 50px 0px 0px 30px;
    font-size: 28px;
}

.card-front .info-card {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.card-front .card-name {
    margin: 30px 0px 0px 30px;
}

.card-front .card-month {
    margin: 30px 0px 0px 200px;
}

.card-front  .card-year {
    margin: 30px 0px 0px 0px;
}

.card-back {
    background: url(./images/bg-card-back.png) no-repeat;
    height: 300px;
    margin-left: 100px;
    color: white;
}

.card-back-number {
    padding: 6.9rem 0rem 0rem 22.7rem;
    letter-spacing: 2px;
}

.form {
    width: 420px;
    height: 400px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.form 
#form-name,
#form-card-number {
    width: 400px;
    margin-top: 7px;
    margin-bottom: 22px;
}

.form label {
    font-size: 12px;
}

.form input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0.7rem;
    font-size: 15px;
}

.form .exp-cvc {
    display: flex;
    flex-direction: column;
}

.form .exp-date {
    width: 200px;
}

.form #form-date {
    width: 50px;
}

.form .mm {
    margin-top: 13px;
}

.form .yy {
    margin: -43px 0px 0px 86px;
}

.form .cvc {
    margin: -73px 0px 10px 180px;
}

.form .input-cvc {
    width: 223px;
    margin: 0px 0px 0px 180px;
}

button {
    padding: 0.7rem;
    width: 432px;
    border: none;
    background: hsl(278, 68%, 11%);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
    background: hsl(278, 94%, 30%);
}

.thanks {
    margin-right: 200px;
    padding: 12rem 0rem 0rem 0rem;
    width: 600px;
    text-align: center;
}

.thanks > img {
    margin-bottom: 20px;
}

.thanks .message-thanks {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.thanks .text-thanks {
    color: rgba(0, 0, 0, 0.473);
    font-size: 16px;
}

.thanks > button {
    width: 400px;
    height: 50px;
}

footer {
    background: rgba(2, 2, 65, 0.329);
    padding: 0.1rem;
    font-size: 13px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 1900px) {
    .container {
        background-size: 600px;
        height: 900px;
    }

    .cards {
        margin-left: 250px
    }

    .thanks {
        margin-right: 50px;
        margin-top: 70px;
    }
}

@media (max-width: 667px) {
    .container {
        background: url(./images/bg-main-mobile.png) no-repeat;
        width: 96vw;
        background-size: 439px;
        display: flex;
        flex-direction: column;
    }

    .cards {
        margin: 30px 0px 0px 20px;
        width: 400px;
    }

    .card-front {
        background-size: 300px;
    }

    .card-front > img {
        width: 50px;
        margin: 17px 0px 0px 17px;
    }

    .card-front .card-number {
        font-size: 15px;
        letter-spacing: 4px;
        margin: 35px 0px 0px 17px;
    }

    .card-front .info-card {
        font-size: 10px;
        letter-spacing: 2px;
        margin: -8px 0px 0px -11px;
    }

    .card-front .card-month  {
        margin-left: 113px;
    }

    .card-back {
        background-size: 300px;
        margin-top: -400px;
    }

    .card-back .card-back-number {
        margin: 0;
        padding: 4.5rem 0rem 0rem 14.5rem;
        font-size: 12px;
    }

    .form {
        height: 400px;
        margin: 30px 0px 0px 10px;
        padding: 0;
    }

    .thanks {
        margin: -380px 0px 0px 20px;
        padding: 0;
        width: 400px;
    }

    .thanks > button {
        margin-top: 30px;
    }
}