@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: url(../images/bg-main-desktop.png) no-repeat;
    background-size: 600px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartoes  p {
    color: rgb(255, 255, 255);
    padding-left: 30px;
}

.cartao-frente {
    background: url(../images/bg-card-front.png) no-repeat;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.073);
    border-radius: 10px;
    margin-top: 255px;
    width: 447px;
    height: 245px;
}

.cartao-frente #logo {
    padding: 30px;
}

#nums-frente {
    font-size: 27px;
    padding: 20px 0px 0px 38px;
    letter-spacing: 4px;
}

.frente-end {
    columns: 2;
    padding-top: 35px;
}

#nome-frente {
    font-size: 11px;
    letter-spacing: 4px;
}

#data {
    font-size: 11px;
    margin-left: 105px;
    letter-spacing: 4px;
}

.cartao-back {
    background: url(../images/bg-card-back.png) no-repeat;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.073);
    border-radius: 10px;
    margin: 40px 0px 0px 120px;
    width: 447px;
    height: 245px;
}

#cvc-back {
    padding: 110px 0px 0px 360px;
}

.form-cont {
    margin-left: 100px;
    margin-top: 300px;
    padding: 40px;
    width: 250px;
    height: 500px;
}

label {
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 7px 0px 15px 0px;
    padding: 14px;
    width: 380px;
    height: 40px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.194);
    font-size: 15px;
    font-weight: 600;
}

.end-form {
    width: 400px;
    height: 90px;
    columns: 2;
}

#month, #year {
    width: 80px;
    margin-right: 10px;
}

#cvc {
    width: 174px;
}

button.confirm {
    background:  hsla(278, 80%, 14%, 0.961);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.24);
    font-size: 15px;
    border: none;
    width: 384px;
    height: 45px;
    cursor: pointer;
}

button.confirm:hover {
    background: hsla(278, 78%, 18%, 0.961);
}

.thanks{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 400px 0px 0px 100px;
}

.thanks img{
    margin: 0px 0px 26px 105px;
}

.thanks h1{
    margin: 0px 0px 16px 60px;
    letter-spacing: 3px;
    font-size: 24px;
}

.thanks p{
    margin: 0px 0px 35px 30px;
    color: rgba(0, 0, 0, 0.603);
}

.thanks button{
    border: none;
    border-radius: 5px;
    background: hsla(278, 80%, 14%, 0.961);
    color: white;
    width: 295px;
    height: 40px;
    cursor: pointer;
}

.thanks button:hover{
    background: hsla(278, 78%, 18%, 0.961);
}