* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 90vh;
}

main {
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
}

section#imagem {
    background-image: url(../images/image-product-desktop.jpg);
    background-position: center top;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 414px;
    height: 260px;
}

section#conteudo div#text h1 {
    margin: 15px;
    font-weight: lighter;
    font-size: .9em;
    color: rgba(0, 0, 0, 0.434);
}

section#conteudo div#text h2 {
    margin: 15px;
    font-family: serif;
    font-weight: bolder;
    font-size: 2em;
    line-height: 30px;
}

section#conteudo div#text p {
    margin: 17px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.514);
}

section#conteudo div#price {
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section#conteudo div#price p#big {
    float: left;
    color: hsl(145, 39%, 35%);
    font-size: 2em;
    text-indent: .3em;
}

section#conteudo div#price p#small {
    float: right;
    color: rgba(0, 0, 0, 0.443);
    margin-right: 165px;
    margin-top: 13px;
}

button {
    margin: 10px;
    margin-top: 15px;
    margin-left: 25px;
    width: 350px;
    height: 35px;
    color: white;
    background-color: hsl(145, 39%, 35%);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

button img {
    margin-right: 5px;
}

button:hover {
    background-color: hsl(147, 38%, 29%);
}